<% if(cart && cart.items.length > 0) { %>
<form id="paypal-form" action="<%= paypal.url %>" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="<%= paypal.businessEmail %>">

    <input type="hidden" name="currency_code" value="<%= paypal.currency %>">
    <% cart.items.forEach(function(product, index) { var n = index + 1; %>
    <input type="hidden" name="quantity_<%= n %>" value="<%= product.qty%>">
    <input type="hidden" name="item_name_<%= n %>" value="<%= product.title %>">
    <input type="hidden" name="item_number_<%= n %>" value="SKU <%= product.title%>">
    <input type="hidden" name="amount_<%= n %>" value="<%= product.price %>">
    <% }); %>
    <input type="image" id="paypal-btn" alt="Pay with PayPal" src="/public/images/paypal.png">
</form>
<% } else { %>
<p class="alert alert-info">Sorry, no products in your cart.</p>
<% } %>